.meltingbg-mb img {
  height: auto;
  width: 100%;
}

.melt {
  display: flex;
  width: 100%;
  height: 7%;
  margin-top: -19px;
  // background-color: green;
  position: absolute;
}

.desk{
  display: none;
}

@media (min-width: 1200px) {
      
  .melt{
    margin-top: -11px;
    // background-color: red;
    height: auto;
  }

  .desk{
    // background-color: green;
    width: 100%;
    display: block;
    img{
      height: 100px;
      width: 100%;
    }
  }

  .meltingbg-mb{
    display: none;
  }
}