.card {
  height: 40vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  font-size: 0.8rem;
  padding: 20px;
  border-radius: 20px;
  font-style: italic;
  transition: all 0.7s ease-in-out;
  opacity: 0;
}

.show-card{
  opacity: 1;
}

.card img,
.visit img {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 5s ease-in-out infinite alternate;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    /* Change the percentage coordinates over time */
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 6rem;
  }
  100% {
    border-radius: 50% 60% 30% 60% / 60% 40% 60% 30%;
  }
}

.col {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 20%;

    img {
      height: 40px;
      width: 40px;
    }
  }
}
