.cards-container{
    /* background-color: red; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
    background-color: white;
}
.cards-container h1{
    color: rgb(66, 65, 65);
}

.cards{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: black;
}

.visit{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(66, 65, 65);
    img{
        height:300px;
        width: 250px;
        border-radius: 10px;
    }

    .disc-visit{
        display: flex;
        width: 100%;
        padding: 30px;
        text-align: center;
        flex-direction: column;
        
        p{
            font-size: 0.9rem;
            font-style: italic;
        }
    }
}


@media (min-width: 1200px) {
    .cards-container{
        height: auto;
        /* // margin-top: 5%; */
        h1{
            font-size: 3rem;
        }
    }

    .cards{
        padding: 10px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .visit{
        height: 100%;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        img{
            height: 100%;
            width: 400px;
        }
        .disc-visit{
            gap: 50px;
            width: 50%;
        }
    }

}