ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
  position: fixed;
  height: 100%;
  width: 40%;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s;
  //   background-color: #1f1513;
  background-color: #5a3620;
  opacity: 0.9;
}

button {
  border: none;
  background-color: transparent;
}

.close{
  width: 10%;
}

.close img {
  width: 30px;
}

.list {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 59px;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-weight: 700;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
