* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80vh;
  width: 100%;
  background-color: #41210a;
  /* padding: 10px; */
}

.navbar{
    width: 100%;
    height: 20%;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.red{
    color: #c0100d;
}

header img {
  width: 50px;
  border-radius: 50%;
}

.hero {
  height: 80%;
}

.meltingbg {
  height: 20%;
  background: url("/meltbg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}
